#notes-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#notes-remarkable-header {
  display: flex;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid lightgray;
}

#notes-remarkable-header h1 {
  line-height: 100%;
  font-size: 6vmax;
}

.notes-header-user {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.notes-header-user h3 {
  box-sizing: border-box;
  font-size: 2.2vmax;
}

.notes-logout {
  padding: 0.1vmax 1vmax;
  text-align: center;
  font-size: 1.5vmax;
}

@media all and (max-width: 700px) {
  #notes-remarkable-header {
    flex-direction: column;
  }

  .notes-header-user {
    padding-top: 1.8vmax;
    width: 60%;
    flex-direction: row;
    align-items: center;
  }

  .notes-header-user h3 {
    font-size: 2.6vmax;
  }

  .notes-logout {
    font-size: 2vmax;
  }
}

#notes-main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.notes-add-note-button {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.notes-add-note-button .fa-plus {
  height: 40%;
  width: 40%;
  color: gray;
}

.invisible {
  visibility: hidden;
}
